@font-face {
  font-family: "Bahnschrift Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bahnschrift Regular"),
    url("./fonts/BAHNSCHRIFT.woff") format("woff");
}

.card-background {
  background-color: rgb(44, 42, 66);
  height: 500px;
  width: 300px;
  box-sizing: border-box;
  padding-top: 50px;
}

.inner-card {
  height: 500px;
  width: 300px;
  background-color: rgb(44, 42, 66);
  border-radius: 0px;
  border-style: solid;
  border-color: rgb(188, 200, 216);
  border-width: 3px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.tbody-style {
  border-radius: 0 0 15px 15px;
  background-color: rgb(78, 76, 97);
}

.card-status {
  border: 3px solid rgb(188, 200, 216);
  border-radius: 0 0 15px 15px;
}

.description-container {
  background-color: rgb(188, 200, 216);
  height: 50px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bahnschrift;
}

.language-container {
  background-color: white;
  height: 150px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(188, 200, 216);;
}

.card_name {
  background-color: rgb(188, 200, 216);
  height: 50px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin: 0px !important;
}

.left-border {
  border-radius: 0 0 0 15px;
}
.right-border {
  border-radius: 0 0 15px; 0;
}

.parameters-text {
  color: white;
  font-family: century-gothic;
  width: 100%;
}

h1 {
  padding: 5px;
}

.description-text {
  text-align: center;
  font-family: Bahnschrift;
  font-size: 12px;
  padding: 5px;
}

.footer {
  width: inherit;
  display: flex;
  margin-top: 60px;
  height: 50px;
}

.logo-amdocs {
  margin-top: 90px;
  margin-left: 35px;
}

.colored-amdocs-bar {
  background-image: linear-gradient(
    to right,
    rgb(228, 162, 49),
    rgb(204, 32, 117)
  );
}
